<!DOCTYPE HTML>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="fragments/layout">
<body>
<div class="content" data-layout-fragment="content">

    <div class="container">

        <div class="col-auto align-self-center">

            <h1 class="text-center" th:text="#{title.application}">Reservation</h1>
            <form th:action="@{/reservation}"
                  th:object="${reservation}" method="post">
                <table class="table">
                    <select class="form-control" th:field="${reservation.movieID}">
                        <option value="">select movie</option>
                        <option th:each="movie : ${reservation.getMovieList}" th:value="${movie.getFilmName}"
                                th:text="'Movie Name: ' + ${movie.getFilmName} + ' / Duration: ' + ${movie.getDuration} + ' / Language: ' + ${movie.getLanguage}"></option>
                    </select>
                    <tr>
                        <td><label for="firstName" th:text="#{person.firstName}">First Name:</label></td>
                        <td><input type="text" id="firstName" th:field="*{firstName}"/></td>
                        <td th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}">Has to be between 1-16
                            characters
                        </td>
                    </tr>
                    <tr>
                        <td><label for="lastName" th:text="#{person.lastName}">Last Name:</label></td>
                        <td><input id="lastName" type="text" th:field="*{lastName}"/></td>
                        <td th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}">Has to be between 1-16
                            characters
                        </td>
                    </tr>
                    <tr>
                        <td><label for="email" th:text="#{person.email}">Email:</label></td>
                        <td><input id="email" type="text" th:field="*{email}"/></td>
                        <td th:if="${#fields.hasErrors('email')}" th:errors="*{email}">Email Error</td>
                    </tr>
                    <tr>
                        <td><label for="phoneNr" th:text="#{person.phoneNr}">Phone Number:</label></td>
                        <td><input id="phoneNr" type="text" th:field="*{phoneNr}"/></td>
                        <td th:if="${#fields.hasErrors('phoneNr')}" th:errors="*{phoneNr}">has to follow rule
                            "\d{3}-\d{3}-\d{4}"
                        </td>
                    </tr>
                    <tr>
                        <td><label for="age" th:text="#{person.age}">Age:</label></td>
                        <td><input id="age" type="number" th:field="*{age}"/></td>
                        <td th:if="${#fields.hasErrors('age')}" th:errors="*{age}">Error</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>
                            <input class="btn btn-success" type="submit" value="Submit"/> <input class="btn btn-warning"
                                                                                                 type="reset"
                                                                                                 value="Reset"/>
                        </td>
                    </tr>
                </table>
                <!--
                            <ul th:if="${#fields.hasErrors('*')}" class="list-group">
                                <li th:each="err : ${#fields.errors('*')}" th:text="${err}" class="list-group-item">
                                    Input is incorrect
                                </li>
                            </ul>
                            <ul>
                                <li th:each="e : ${#fields.detailedErrors()}" th:class="${e.global}? globalerr : fielderr">
                                    <span th:text="${e.global}? '*' : ${e.fieldName}">The field name</span> |
                                    <span th:text="${e.message}">The error message</span>
                                </li>
                            </ul>
                -->
            </form>
        </div>
    </div>
</div>

<!--<div th:include="fragments/fragments-main-panel-footer :: footer"></div>-->

</body>
</html>
