<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="fragments/layout">
<body>


<div class="content" data-layout-fragment="content">

    <div class="container">

<div class="container-fluid" th:object="${reservation}">

    <ul class="list-group">
        <li class="list-group-item"><h1>Your Reservation</h1></li>
        <li class="list-group-item" th:text="'Movie Name: ' + ${reservation.getMovieID}" />
        <li class="list-group-item" th:text="'First Name: ' + ${reservation.getFirstName}" />
        <li class="list-group-item" th:text="'Last Name: ' + ${reservation.getLastName()}" />
        <li class="list-group-item" th:text="'Email: ' + ${reservation.email}" />
        <li class="list-group-item" th:text="'Phone Number: ' + ${reservation.phoneNr}" />
        <li class="list-group-item" th:text="'Age: ' + ${reservation.getAge()}" />
    </ul>
    <a href="/reservation">New Reservation</a>

    <!-- -->
</div>

    </div>
</div>

</body>
</html>
